---
# SSH Lockdown to Tailscale Network

- name: Lock SSH to Tailscale network only (100.64.0.0/10)
  firewalld:
    rich_rule: 'rule family="ipv4" source address="100.64.0.0/10" service name="ssh" accept'
    permanent: yes
    state: enabled
    immediate: yes

- name: Remove public SSH access
  firewalld:
    service: ssh
    permanent: yes
    state: disabled
    immediate: yes

- name: Configure SSH hardening
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
    - { regexp: '^#?ChallengeResponseAuthentication', line: 'ChallengeResponseAuthentication no' }
    - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries 3' }
    - { regexp: '^#?ClientAliveInterval', line: 'ClientAliveInterval 300' }
    - { regexp: '^#?ClientAliveCountMax', line: 'ClientAliveCountMax 2' }
  notify: restart sshd

- name: Install fail2ban
  dnf:
    name: fail2ban
    state: present
  ignore_errors: yes

- name: Configure fail2ban for SSH
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [DEFAULT]
      bantime = 3600
      findtime = 600
      maxretry = 3

      [sshd]
      enabled = true
      port = ssh
      logpath = /var/log/secure
    mode: '0644'
  ignore_errors: yes
  notify: restart fail2ban

- name: Enable and start fail2ban
  systemd:
    name: fail2ban
    enabled: yes
    state: started
  ignore_errors: yes
