---
# Age Tools Installation

- name: Check if age is installed
  stat:
    path: /usr/local/bin/age
  register: age_binary

- name: Download age archive
  get_url:
    url: "https://github.com/FiloSottile/age/releases/download/v{{ age_version }}/age-v{{ age_version }}-linux-amd64.tar.gz"
    dest: /tmp/age.tar.gz
    mode: '0644'
  when: not age_binary.stat.exists

- name: Extract age archive
  unarchive:
    src: /tmp/age.tar.gz
    dest: /tmp
    remote_src: yes
  when: not age_binary.stat.exists

- name: Install age binaries
  copy:
    src: "/tmp/age/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: '0755'
    remote_src: yes
  loop:
    - age
    - age-keygen
  when: not age_binary.stat.exists

- name: Clean up age installation files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/age.tar.gz
    - /tmp/age
