name: Sync Tailscale ACLs

on:
  push:
    branches: ["main"]
    paths:
      - 'policy.hujson'
      - '.github/workflows/tailscale.yml'
  pull_request:
    branches: ["main"]
    paths:
      - 'policy.hujson'
      - '.github/workflows/tailscale.yml'

jobs:
  acls:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy ACL
        if: github.event_name == 'push'
        id: deploy-acl
        uses: tailscale/gitops-acl-action@v1
        with:
          api-key: ${{ secrets.TAILSCALE_API_KEY }}
          tailnet: ${{ secrets.TAILSCALE_TAILNET }}
          action: apply

      - name: Test ACL
        if: github.event_name == 'pull_request'
        id: test-acl
        uses: tailscale/gitops-acl-action@v1
        with:
          api-key: ${{ secrets.TAILSCALE_API_KEY }}
          tailnet: ${{ secrets.TAILSCALE_TAILNET }}
          action: test
